<html>
<head>
  <title>Asteroids</title>
  <link href="/css/asteroids.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="/js/jquery-3.1.1.js"></script>
  <script src="/js/asteroids.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 id="header">Asteroids</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <h4 id="points-header">Points</h4>
        <p id="points">0</p>
      </div>
      <div class="col-sm-10">
        <table id="grid">
        </table>
      </div>
      <div class="col-sm-1">
        <h4 id="laserChargeText">Laser charging...</h4>
        <table id="laserChargeBar"></table>
      </div>
    </div>
  </div>
</body>
</html>
