<html>
<head>
  <title>Arcade</title>
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="/css/battleship.css" rel="stylesheet" />
  <link href="/css/index.css" type="text/css" rel="stylesheet"/>
  <script src="/js/jquery-3.1.1.js"></script>
  <script src="/js/music.js"></script>
</head>
<body>
  <div class="container">
    <div id="top" class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1 id="header">ARCADE</h1>
      </div>
    </div>
  </div>
  <div id="game-div">
    <h3><a href="/asteroids" target="_blank">Asteroids</a></h3>
    <h3><a href="/battleship" target="_blank">Battleship</a></h3>
    <h3><a href="/black-jack" target="_blank">Black Jack</a></h3>
    <h3><a href="/turtle-graphics" target="_blank">Turtle Graphics</a></h3>
  </div>
  <audio id="musicPlayer" controls>
    <source src="/media/music/retro.mp3" type="audio/mpeg">
  </audio>
</body>
</html>
