p {
	 font-size: 30px;
	 color: #FF1493;
}

a {
	font-family: monospace;
	color: #FF1493;
	padding-left: 20px;
	padding-right: 20px;
}

body {
	background-image: url("../media/retro.jpg");
}

#game-div {
	margin-left: 425px;
	background-color: #FF1493;
	width: 500px;
}

#header {
	font-size: 100px;
	font-family: 'Monoton', cursive;
	color: #FF1493;
	height: 200px;
}

#top {
	margin-top: 100px;
	height: 150px;
}

h3 {
	display: inline;
}

#bottom {
	margin-top: 50px;
}

a:hover {
	background-color: black;
	color: #FF1493;
}

#musicPlayer {
visibility: hidden;
}
